# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpetas de configuración de editores
.vscode/
.idea/

# Archivos Python generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales y de logs
*.log
*.tmp
*.swp

# Entornos virtuales
env/
venv/

# Archivos de configuración personal o secretos
*.env
*.secrets

# Archivos de backup o de edición
*~
